.start {
  width: 1280px;

  .round {
    //background-image: url("../../images/bull_start.png"), url("../../images/bear_start.png");
    //background-position: .5% 3%, 99.5% 3%;
    //background-size: 25%, 25%;
    //background-repeat: no-repeat;
    width: 90%;
    height: 80%;
    max-width: 1280px;
    //max-height: 720px;
    background-color: rgba(26, 31, 52, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;

    .bull-start {
      width: 25%;
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 100%;
      }
    }

    .bear-start {
      width: 25%;
      position: absolute;
      right: 0;
      top: -25px;

      img {
        width: 100%;
        //border-top-right-radius: 50%;
      }
    }

    .dark {
      background-color: var(--dark-light);
      border-radius: 24px;
      width: 70%;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      text-align: center;

      h2 {
        span {
          color: var(--gold);
          font-size: 24px;
        }
      }

      .buttons {
        margin-top: 10px;

        .wrap-btn {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          position: relative;

          .btn {
            border-radius: 8px;
          }

          .green {
            border: 1px solid var(--up);
          }

          .red {
            border: 1px solid var(--down);
          }
        }

      }
    }

    .graph {
      width: 100%;
      margin: 0 auto;
    }

    .text {
      margin-top: 50px;
      margin-bottom: 50px;

      * {
        font-family: "roc-grotesk-wide", sans-serif;
      }

      .gold {
        font-weight: 300;
        font-size: 24px;
        line-height: 26px;

      }

      h2 {
        width: 100%;
        font-weight: 500;
        font-size: 48px;
        line-height: 69px;
        margin-top: 20px;

        .gold {
          letter-spacing: 5px;
          font-size: 48px;
        }
      }

      p {
        width: 50%;
        margin: 0 auto;
        font-size: 36px;
      }
    }
  }

  //.bg {
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  width: 90%;
  //  height: 78%;
  //  transform: translate(-50%, -50%);
  //  background-image: url("../../images/bull_start.png"), url("../../images/bear_start.png");
  //  background-position: .5% 5%, 99.5% 5%;
  //  background-size: 25%, 25%;
  //  background-repeat: no-repeat;
  //  max-width: 1280px;
  //  max-height: 720px;
  //  filter: blur(2px);
  //}
}
span.chross {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.load {
  //background-color: rgba(26, 31, 52, 0.5);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 50px;
  padding-top: 0;

  img.text {
    width: 250px;
  }

  .wrap-img-preload {
    .coin1 {
      opacity: 0;
      animation: loader 2s infinite linear;
      animation-delay: 0s;
    }

    .coin2 {
      opacity: 0;
      animation: loader 2s infinite linear;
      animation-delay: .5s;
    }

    .coin3 {
      opacity: 0;
      animation: loader 2s infinite linear;
      animation-delay: 1s;
    }

    .coin4 {
      opacity: 0;
      animation: loader 2s infinite linear;
      animation-delay: 1.5s;
    }
  }
}

.bull-start-mobile {
  display: none;
}

.bear-start-mobile {
  display: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


//@media screen and (max-width: 540px) {
//  .predict-btn.green,
//  .predict-btn.red{
//    max-width: 320px;
//  }
//  .wrap-btn {
//    flex-direction: column;
//    align-items: center;
//    justify-content: space-between;
//  }
//}
@media screen and (max-width: 768px) {
  #chartjs-tooltip {
    display: none;
  }
  .start {
    width: 100%;
    height: 100%;


    .round.round-dark {
      background-color: transparent;
      margin-top: 0;
      padding: 0 16px;
      width: 100%;
      height: 100%;
      overflow: auto;



      .text {
        margin-top: 80px;
        margin-bottom: 15px;

        .gold {
          font-size: 18px;
        }

        h2 {
          font-size: 24px;
          margin-bottom: 0;
          line-height: 40px;

          .gold {
            font-size: 24px;
            letter-spacing: 2px;
          }
        }

        p {
          font-size: 18px;
          width: 90%;
          margin-top: 0 !important;
        }
      }

      .dark {
        background-color: transparent;
        width: 100%;
        height: auto;
        min-height: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .time {
          display: none;
        }

        .course {
          //margin-top: 25px;
          //position: absolute;
          //top: 0;
          //left: 50%;
          //transform: translate(-50%, 0);

          h2 {
            white-space: nowrap;

            img {
              width: 24px;
              margin-right: .5em;
              margin-top: -5px;
            }
          }
        }
      }
      .predict-btn.green,
      .predict-btn.red{
        background-size: 40px;
      }
      .buttons {
        margin-top: 20px;
        margin-bottom: 10px;

        .wrap-btn {
          width: 97%;
          flex-direction: column;
          //justify-content: space-between;
          button {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      .bull-start {
        display: none;
      }

      .bear-start {
        display: none;
      }
    }
  }
  .bull-start-mobile {
    display: block;
    width: 25%;
    position: fixed;
    top: 60px;
    left: 0;

    img {
      width: 100%;
    }
  }
  .bear-start-mobile {
    display: block;
    width: 25%;
    position: fixed;
    top: 65px;
    right: 0;

    img {
      width: 100%;
    }
  }
  .win-btn {
    .btn-primary {
      width: 100%!important;
    }
  }
    .mobile-start {
      background-image: url("../../images/mobile_bg.png");
      background-position: center;
      background-size: cover;
      background-color: transparent;
      border-radius: 0;
    }
  .predict-btn.green{
    z-index: 0;
  }
  .predict-btn.red{
    z-index: 0;
  }
  .predict-btn.green.green-start:after {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-image: url("../../images/Bull_button.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px;
    z-index: -1;
  }
  .predict-btn.red.red-start:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-image: url("../../images/Bear_button.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
    z-index: -1;
  }
}
