.rectUp {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-radius: 8px;
  background-image: linear-gradient(var(--up), var(--up)), linear-gradient(var(--up), var(--up)), linear-gradient(var(--up), var(--up)), linear-gradient(var(--up), var(--up));
  background-repeat: no-repeat;
  background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  background-position: right top, right bottom, left bottom, left top;
  animation: border 10s 1 linear;
  position: absolute;
  top: -1px;
  left: -1px;
}
.rectDown {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-radius: 8px;
  background-image: linear-gradient(var(--down), var(--down)), linear-gradient(var(--down), var(--down)), linear-gradient(var(--down), var(--down)), linear-gradient(var(--down), var(--down));
  background-repeat: no-repeat;
  background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  background-position: right top, right bottom, left bottom, left top;
  animation: border 10s 1 linear;
  position: absolute;
  top: -1px;
  left: -1px;
}
.infinity {
  animation-iteration-count: infinite;
}
@keyframes border {
  0% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
  10% {
    background-size: 75% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
  20% {
    background-size: 50% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
  30% {
    background-size: 25% 4px, 4px 100%, 100% 4px, 4px 100%;
  }
  40% {
    background-size: 0 4px, 4px 100%, 100% 4px, 4px 100%;
  }
  50% {
    background-size: 0 4px, 4px 0, 100% 4px, 4px 100%;
  }
  60% {
    background-size: 0 4px, 4px 0, 75% 4px, 4px 100%;
  }
  70% {
    background-size: 0 4px, 4px 0, 50% 4px, 4px 100%;
  }
  80% {
    background-size: 0 4px, 4px 0, 25% 4px, 4px 100%;
  }
  90% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 100%;
  }
  100% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0;
  }
}
